h1{
    font: italic;
    font-size: 50px;
    color: whitesmoke;

    }


.class{
    font-size:20px;


}
.unique{
   
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    font-size: 30px;
  
    
    
}
.color-custom{
    color: white
}
.caption{

    opacity: 0.8;

}
.captionb{
    opacity: 1;
    color: 
}

h2{
    text-align: center

}

p{
    text-align: center !important
}
    
